In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
!pip install kmodes

Collecting kmodes
  Using cached kmodes-0.12.2-py2.py3-none-any.whl (20 kB)
Requirement already satisfied: joblib>=0.11 in c:\users\navya\anaconda3\lib\site-packages (from kmodes) (1.1.1)
Requirement already satisfied: scikit-learn>=0.22.0 in c:\users\navya\anaconda3\lib\site-packages (from kmodes) (1.2.1)
Requirement already satisfied: numpy>=1.10.4 in c:\users\navya\anaconda3\lib\site-packages (from kmodes) (1.23.5)
Requirement already satisfied: scipy>=0.13.3 in c:\users\navya\anaconda3\lib\site-packages (from kmodes) (1.10.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\navya\anaconda3\lib\site-packages (from scikit-learn>=0.22.0->kmodes) (2.2.0)
Installing collected packages: kmodes
Successfully installed kmodes-0.12.2

In [3]:
def describe_more(df,normalize_ind=False, weight_column=None, skip_columns=[], dropna=True):
    var = [] ; l = [] ; t = []; unq =[]; min_l = []; max_l = [];
    assert isinstance(skip_columns, list), "Argument skip_columns should be list"
    if weight_column is not None:
        if weight_column not in list(df.columns):
            raise AssertionError('weight_column is not a valid column name in the input DataFrame')
      
    for x in df:
        if x in skip_columns:
            pass
        else:
            var.append( x )
            uniq_counts = len(pd.value_counts(df[x],dropna=dropna))
            uniq_counts = len(pd.value_counts(df[x], dropna=dropna)[pd.value_counts(df[x],dropna=dropna)>0])
            l.append(uniq_counts)
            t.append( df[ x ].dtypes )
            min_l.append(df[x].apply(str).str.len().min())
            max_l.append(df[x].apply(str).str.len().max())
            if weight_column is not None and x not in skip_columns:
                df2 = df.groupby(x).agg({weight_column: 'sum'}).sort_values(weight_column, ascending=False)
                df2['authtrans_vts_cnt']=((df2[weight_column])/df2[weight_column].sum()).round(2)
                unq.append(df2.head(n=100).to_dict()[weight_column])
            else:
                df_cat_d = df[x].value_counts(normalize=normalize_ind,dropna=dropna).round(decimals=2)
                df_cat_d = df_cat_d[df_cat_d>0]
                #unq.append(df[x].value_counts().iloc[0:100].to_dict())
                unq.append(df_cat_d.iloc[0:100].to_dict())
            
    levels = pd.DataFrame( { 'A_Variable' : var , 'Levels' : l , 'Datatype' : t ,
                             'Min Length' : min_l,
                             'Max Length': max_l,
                             'Level_Values' : unq} )
    #levels.sort_values( by = 'Levels' , inplace = True )
    return levels

In [4]:
data=pd.read_excel("Tablespreads2021_Updated.xlsx")

In [5]:
describe_more(data)

,A_Variable,Levels,Datatype,Min Length,Max Length,Level_Values
0,Geography,9,object,30,50,"{'Total US - Multi Outlet + Conv': 60644, 'Nor..."
1,Time,52,object,20,20,"{'Week Ending 04-04-21': 5067, 'Week Ending 03..."
2,Product Description,1378,object,41,113,{'COUNTRY CROCK RFG ORIGINAL VEGETABLE OIL SPR...
3,UPC 13 digit,1378,int64,7,13,"{27400545081: 468, 742365416001: 468, 40600341..."
4,Dollar Sales No Merch,225885,float64,3,20,"{3.99: 159, 3.79: 73, 2.99: 72, 6.99: 55, 6.98..."
5,Dollar Sales Any Merch,141711,float64,3,20,"{2.84: 36, 2.98: 26, 5.68: 24, 3.0: 23, 8.52: ..."
6,Unit Sales No Merch,210891,float64,3,20,"{1.0: 2242, 2.0: 1020, 3.0: 657, 4.0: 454, 5.0..."
7,Unit Sales Any Merch,131698,float64,3,20,"{1.0: 712, 2.0: 701, 3.0: 580, 4.0: 511, 5.0: ..."
8,Volume Sales No Merch,216804,float64,3,21,"{1.0: 847, 2.0: 429, 0.9375: 421, 0.5: 419, 3...."
9,Volume Sales Any Merch,134363,float64,3,21,"{1.0: 378, 2.0: 337, 3.0: 280, 4.0: 240, 5.0: ..."
10,Price per Unit,197371,float64,3,19,"{3.99: 3822, 2.99: 3745, 4.99: 2798, 5.99: 193..."
11,Price per Unit No Merch,186442,float64,3,19,"{3.99: 4234, 2.99: 3862, 4.99: 3077, 5.99: 214..."
12,Price per Unit Any Merch,121624,float64,3,19,"{2.99: 2216, 3.99: 1620, 4.99: 946, 3.49: 851,..."
13,Price per Volume,199565,float64,3,20,"{4.99: 1273, 3.99: 1237, 7.98: 1229, 2.99: 119..."
14,Price per Volume No Merch,188635,float64,3,20,"{4.99: 1375, 7.98: 1344, 3.99: 1339, 5.99: 117..."
15,Price per Volume Any Merch,124526,float64,3,19,"{2.99: 998, 3.99: 609, 4.99: 480, 2.5: 403, 5...."
16,ACV Weighted Distribution No Merch,235533,float64,3,22,"{0.11982502594529354: 35, 0.12177853596474593:..."
17,ACV Weighted Distribution Any Merch,152148,float64,3,22,"{0.4129481358150694: 13, 0.4125175093777117: 1..."
18,Base Unit Sales,225016,float64,3,20,"{1.0: 2166, 2.0: 997, 3.0: 604, 4.0: 434, 5.0:..."
19,Base Volume Sales,229377,float64,3,21,"{1.0: 826, 0.9375: 424, 2.0: 417, 0.5: 393, 3...."
20,Base Dollar Sales,234798,float64,3,20,"{3.99: 155, 3.79: 73, 2.99: 72, 4.99: 55, 6.98..."
21,Incremental Units,127084,float64,3,20,"{0.0: 15696, 0.5: 34, 0.5099999904632568: 31, ..."
22,Incremental Volume,129546,float64,3,21,"{0.0: 15696, 0.009999990463256836: 19, 0.25: 1..."
23,Incremental Dollars,130490,float64,3,23,"{0.0: 15687, 1.4547000122070313: 4, 0.99619995..."
24,CAG Major Brand Value,304,object,4,30,"{'PRIVATE LABEL': 80570, 'LAND O LAKES': 17686..."
25,CAG Manufacturer Value,260,object,5,35,"{'PRIVATE LABEL': 80570, 'UPFIELD': 21965, 'CO..."
26,Sub-Category,6,object,6,30,"{'RFG BUTTER': 147717, 'MARGARINE/SPREADS': 87..."
27,CAG Category,1,object,12,12,{'TABLESPREADS': 258978}
28,CAG Count,10,object,3,5,"{'1 CT': 160976, '4 CT': 74346, '2 CT': 16980,..."
29,CAG Ounces,69,object,4,8,"{'16 OZ': 95457, '8 OZ': 54133, '15 OZ': 27786..."
30,CAG Form,4,object,4,14,"{'TUBS': 109873, 'STICKS': 95893, 'ALL OTHER F..."
31,Form,21,object,3,21,"{'SPREAD': 116152, 'STICK': 48348, 'QUARTER': ..."
32,CAG Tier,5,object,3,13,"{'MAINSTREAM': 101161, 'SUPER PREMIUM': 79405,..."
33,Total_Sales_Dollars,234258,float64,3,20,"{3.99: 157, 2.99: 75, 3.79: 73, 6.98: 56, 4.99..."

In [6]:
data=data.drop(columns=['UPC 13 digit'])

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258978 entries, 0 to 258977
Data columns (total 33 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   Geography                            258978 non-null  object
 1   Time                                 258978 non-null  object
 2   Product Description                  258978 non-null  object
 3   Dollar Sales No Merch                250901 non-null  float64
 4   Dollar Sales Any Merch               158524 non-null  float64
 5   Unit Sales No Merch                  250901 non-null  float64
 6   Unit Sales Any Merch                 158524 non-null  float64
 7   Volume Sales No Merch                250901 non-null  float64
 8   Volume Sales Any Merch               158524 non-null  float64
 9   Price per Unit                       258978 non-null  float64
 10  Price per Unit No Merch              250901 non-null  float64
 11  Price per Unit Any Merch             158524 non-null  float64
 12  Price per Volume                     258978 non-null  float64
 13  Price per Volume No Merch            250901 non-null  float64
 14  Price per Volume Any Merch           158524 non-null  float64
 15  ACV Weighted Distribution No Merch   250901 non-null  float64
 16  ACV Weighted Distribution Any Merch  158524 non-null  float64
 17  Base Unit Sales                      258978 non-null  float64
 18  Base Volume Sales                    258978 non-null  float64
 19  Base Dollar Sales                    258978 non-null  float64
 20  Incremental Units                    158524 non-null  float64
 21  Incremental Volume                   158524 non-null  float64
 22  Incremental Dollars                  158524 non-null  float64
 23  CAG Major Brand Value                258978 non-null  object
 24  CAG Manufacturer Value               258978 non-null  object
 25  Sub-Category                         258978 non-null  object
 26  CAG Category                         258978 non-null  object
 27  CAG Count                            258042 non-null  object
 28  CAG Ounces                           258978 non-null  object
 29  CAG Form                             258978 non-null  object
 30  Form                                 257184 non-null  object
 31  CAG Tier                             258042 non-null  object
 32  Total_Sales_Dollars                  258978 non-null  float64
dtypes: float64(21), object(12)
memory usage: 65.2+ MB

In [8]:
data['Quarter'] = pd.PeriodIndex(data['Time'].str.replace('Week Ending ', ''), freq='Q').strftime('Q%q')

In [9]:
# The Data Cleaning
data.columns = data.columns.str.replace(' ', '_')
data.columns = data.columns.str.lower()

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258978 entries, 0 to 258977
Data columns (total 34 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   geography                            258978 non-null  object
 1   time                                 258978 non-null  object
 2   product_description                  258978 non-null  object
 3   dollar_sales_no_merch                250901 non-null  float64
 4   dollar_sales_any_merch               158524 non-null  float64
 5   unit_sales_no_merch                  250901 non-null  float64
 6   unit_sales_any_merch                 158524 non-null  float64
 7   volume_sales_no_merch                250901 non-null  float64
 8   volume_sales_any_merch               158524 non-null  float64
 9   price_per_unit                       258978 non-null  float64
 10  price_per_unit_no_merch              250901 non-null  float64
 11  price_per_unit_any_merch             158524 non-null  float64
 12  price_per_volume                     258978 non-null  float64
 13  price_per_volume_no_merch            250901 non-null  float64
 14  price_per_volume_any_merch           158524 non-null  float64
 15  acv_weighted_distribution_no_merch   250901 non-null  float64
 16  acv_weighted_distribution_any_merch  158524 non-null  float64
 17  base_unit_sales                      258978 non-null  float64
 18  base_volume_sales                    258978 non-null  float64
 19  base_dollar_sales                    258978 non-null  float64
 20  incremental_units                    158524 non-null  float64
 21  incremental_volume                   158524 non-null  float64
 22  incremental_dollars                  158524 non-null  float64
 23  cag_major_brand_value                258978 non-null  object
 24  cag_manufacturer_value               258978 non-null  object
 25  sub-category                         258978 non-null  object
 26  cag_category                         258978 non-null  object
 27  cag_count                            258042 non-null  object
 28  cag_ounces                           258978 non-null  object
 29  cag_form                             258978 non-null  object
 30  form                                 257184 non-null  object
 31  cag_tier                             258042 non-null  object
 32  total_sales_dollars                  258978 non-null  float64
 33  quarter                              258978 non-null  object
dtypes: float64(21), object(13)
memory usage: 67.2+ MB

In [11]:
# Data where dimension of time is reduced to quarters and considering total sales as our target variable
data_quarter=data.drop(columns=['time','form','cag_category','product_description'])

In [12]:
cat_var=[]
data_quarter.shape
data_quarter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258978 entries, 0 to 258977
Data columns (total 30 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   geography                            258978 non-null  object
 1   dollar_sales_no_merch                250901 non-null  float64
 2   dollar_sales_any_merch               158524 non-null  float64
 3   unit_sales_no_merch                  250901 non-null  float64
 4   unit_sales_any_merch                 158524 non-null  float64
 5   volume_sales_no_merch                250901 non-null  float64
 6   volume_sales_any_merch               158524 non-null  float64
 7   price_per_unit                       258978 non-null  float64
 8   price_per_unit_no_merch              250901 non-null  float64
 9   price_per_unit_any_merch             158524 non-null  float64
 10  price_per_volume                     258978 non-null  float64
 11  price_per_volume_no_merch            250901 non-null  float64
 12  price_per_volume_any_merch           158524 non-null  float64
 13  acv_weighted_distribution_no_merch   250901 non-null  float64
 14  acv_weighted_distribution_any_merch  158524 non-null  float64
 15  base_unit_sales                      258978 non-null  float64
 16  base_volume_sales                    258978 non-null  float64
 17  base_dollar_sales                    258978 non-null  float64
 18  incremental_units                    158524 non-null  float64
 19  incremental_volume                   158524 non-null  float64
 20  incremental_dollars                  158524 non-null  float64
 21  cag_major_brand_value                258978 non-null  object
 22  cag_manufacturer_value               258978 non-null  object
 23  sub-category                         258978 non-null  object
 24  cag_count                            258042 non-null  object
 25  cag_ounces                           258978 non-null  object
 26  cag_form                             258978 non-null  object
 27  cag_tier                             258042 non-null  object
 28  total_sales_dollars                  258978 non-null  float64
 29  quarter                              258978 non-null  object
dtypes: float64(21), object(9)
memory usage: 59.3+ MB

In [13]:
cat_var=[var for var in data_quarter.columns if data_quarter[var].dtype=='object']

In [14]:
cat_var

['geography',
 'cag_major_brand_value',
 'cag_manufacturer_value',
 'sub-category',
 'cag_count',
 'cag_ounces',
 'cag_form',
 'cag_tier',
 'quarter']

In [20]:
# check for null values
data_quarter.isnull().sum()

geography                              0
dollar_sales_no_merch                  0
dollar_sales_any_merch                 0
unit_sales_no_merch                    0
unit_sales_any_merch                   0
volume_sales_no_merch                  0
volume_sales_any_merch                 0
price_per_unit                         0
price_per_unit_no_merch                0
price_per_unit_any_merch               0
price_per_volume                       0
price_per_volume_no_merch              0
price_per_volume_any_merch             0
acv_weighted_distribution_no_merch     0
acv_weighted_distribution_any_merch    0
base_unit_sales                        0
base_volume_sales                      0
base_dollar_sales                      0
incremental_units                      0
incremental_volume                     0
incremental_dollars                    0
cag_major_brand_value                  0
cag_manufacturer_value                 0
sub-category                           0
cag_count                              0
cag_ounces                             0
cag_form                               0
cag_tier                               0
total_sales_dollars                    0
quarter                                0
dtype: int64

In [17]:
num_var=[var for var in data_quarter.columns if data_quarter[var].dtype!='object']
num_var

['dollar_sales_no_merch',
 'dollar_sales_any_merch',
 'unit_sales_no_merch',
 'unit_sales_any_merch',
 'volume_sales_no_merch',
 'volume_sales_any_merch',
 'price_per_unit',
 'price_per_unit_no_merch',
 'price_per_unit_any_merch',
 'price_per_volume',
 'price_per_volume_no_merch',
 'price_per_volume_any_merch',
 'acv_weighted_distribution_no_merch',
 'acv_weighted_distribution_any_merch',
 'base_unit_sales',
 'base_volume_sales',
 'base_dollar_sales',
 'incremental_units',
 'incremental_volume',
 'incremental_dollars',
 'total_sales_dollars']

In [18]:
# Added 0 in null values for numerical variables and missing in categorical variables
values_to_fill = {}
for col in data_quarter.columns:
    if data_quarter[col].dtype != 'object':
        values_to_fill[col] = 0

data_quarter.fillna(value=values_to_fill,inplace=True)

In [19]:
data_quarter=data_quarter.dropna(subset=['cag_count'])
corr_mat = data_quarter.corr(method='pearson').round(2)

In [ ]:
corr_mat
import seaborn as sns

In [ ]:
plt.figure(figsize=(20,10))
plot=sns.heatmap(corr_mat,annot=True)

In [ ]:
from scipy.stats import chi2_contingency
for var in cat_var :
    contingency_table = pd.crosstab(data_quarter[var], data_quarter['total_sales_dollars'])

    # Perform the chi-square test
    chi2, p_value, dof, expected = chi2_contingency(contingency_table)

    # Print the results
    print(f"{var}:")
    print(f"Chi-square statistic: {chi2}")
    print(f"P-value: {p_value}")

In [22]:
data_quarter=data_quarter.drop(columns=['total_sales_dollars'])

In [ ]:
data_quarter.columns

In [21]:
data_quarter['total_sales_dollars'].sum()

8374981555.886614

In [ ]:
grouped_df = data_quarter.groupby('cag_major_brand_value')['total_sales_dollars'].sum().reset_index()
grouped_df = grouped_df.rename(columns={'total_sales_dollars': 'sumsales'})

In [ ]:
grouped_df = grouped_df.sort_values('sumsales', ascending=False)

In [ ]:
grouped_df['market_share'] = grouped_df['sumsales'] * 100 / 8374981556

In [ ]:
data_quarter = pd.merge(data_quarter1, grouped_df, on='cag_major_brand_value', how='left')

In [24]:
# create dummy variables for the categorical variables.
data_quarter.to_csv('final2021.csv')

In [ ]:
dum_col=[]
for c in ['Geography','Sub-Category','CAG Count','CAG Ounces','CAG Form','CAG Tier','Quarter']:
    dummies = pd.get_dummies(data_quarter1[c], prefix=c)
    dum_col.append(dummies.columns.tolist())
# add the dummy variables to the original dataframe
    data_quarter1 = pd.concat([data_quarter1, dummies], axis=1)

In [23]:
data_quarter.to_csv('file2021.csv')

NameError: name 'data_quarter1' is not defined

In [ ]:
data_quarter1 = data_quarter1[['Geography','Sub-Category','CAG Count','CAG Ounces','CAG Form','CAG Tier','Quarter']].apply(lambda x: pd.factorize(x)[0])

In [ ]:
from sklearn.preprocessing import LabelEncoder
# Convert categorical variables to integers using label encoding
le = LabelEncoder()
label_mappings = {}

for col in ['Geography','Sub-Category','CAG Count','CAG Ounces','CAG Form','CAG Tier','Quarter']:
    data_quarter1[col] = le.fit_transform(data[col])
    label_mappings[col] = {}
    for i, value in enumerate(le.classes_):
        if value in label_mappings[col]:
            label_mappings[col][value].append(i)
        else:
            label_mappings[col][value] = [i]

# Print label mappings for each categorical variable
for col in categorical_cols:
    print(f"Label mapping for {col}:")
    print(label_mappings[col])

In [ ]:
X = data_quarter1[['Geography','Sub-Category','CAG Count','CAG Ounces','CAG Form','CAG Tier','Quarter']]

In [ ]:
'''
Are there interactions across productattributes withinthe Tablespreads category that pose any risks and/or opportunity? 
Recommendation is to cluster items by product attributes including, but not limited toform, flavor, 
type,price tier, pack count, etc
'''

In [ ]:
data=pd.read_excel("file2021_1.xlsx")

In [ ]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
scaler = MinMaxScaler()
data['Total_Sales_Dollars'] = scaler.fit_transform(data['Total_Sales_Dollars'].values.reshape(-1,1))

In [ ]:
category_map = {'MARGARINE/SPREADS': 'MARGARINE', 'RFG BUTTER': 'BUTTER', 'RFG BUTTER BLENDS': 'Others', 'RFG SAUCE/GRAVY/MARINADE MIXES': 'Others'}
data['Sub_Category'] = data['Sub_Category'].map(category_map)

In [ ]:
# perform a 2 way ANOVA between the product attributes
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols


# Define the formula for the two-way ANOVA
formula = 'Total_Sales_Dollars ~ Sub_Category + CAG_Form + Sub_Category:CAG_Form'

# Fit the ANOVA model
model = ols(formula, data=data).fit()

# Perform the ANOVA analysis
anova_table = sm.stats.anova_lm(model, typ=2)

model.summary()

In [ ]:
# There is an interaction between the Sub-Category and the FORM in which the products are sold.

In [ ]:
# perform a 2 way ANOVA between the product attributes

formula1 = 'Total_Sales_Dollars ~ Sub_Category + CAG_Count + Sub_Category:CAG_Count'

# Fit the ANOVA model
model1 = ols(formula1, data=data).fit()

model1.summary()

In [ ]:
formula2 = 'Total_Sales_Dollars ~ CAG_Form + CAG_Count + CAG_Form:CAG_Count'

# Fit the ANOVA model
model2 = ols(formula2, data=data).fit()
model2.summary()

In [ ]:
formula3 = 'Total_Sales_Dollars ~ Sub_Category + CAG_Ounces + Sub_Category:CAG_Ounces'

# Fit the ANOVA model
model3 = ols(formula3, data=data).fit()
model3.summary()

In [ ]:
formula4 = 'Total_Sales_Dollars ~ Geography + CAG_Ounces + Geography:CAG_Ounces'
# Fit the ANOVA model
model4 = ols(formula4, data=data).fit()
model4.summary()

In [ ]:
''' We observe that there is a collinearity between the Geography and the wieght of the tablespreads sold'''

In [ ]:
formula5 = 'Total_Sales_Dollars ~ Geography + Sub_Category + Geography:Sub_Category'
# Fit the ANOVA model
model5 = ols(formula5, data=data).fit()
model5.summary()

In [ ]:
# Change the ounze to numerical